/* Global */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* End Global */
/* Header */
header {
    padding: 0px 100px !important;
    /* background: #b3dbdb; */
    background: #000;
}

nav {
    padding: 0px !important;
    margin: 0px !important;
}

.navbar-nav li {
    padding: 0px 30px;
}

.navbar-nav li a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.dropdown-menu {
    background: #b3dbdb !important;
}

.dropdown-menu li {
    padding: 0px 0px;
}

.dropdown-menu li a:hover {
    background: #b3dbdb !important;
    transform: translateX(12px);
}

hr {
    margin: 0px !important;
}

@media (max-width:767px) {
    header {
        padding: 0px 10px !important;
    }
}

/* End Navbar */
/* Banner Section */

.banner-bg {
    background: #b3dbdb;
}